@import '../../styles/const.module';

.section {
   padding: 1rem 0;
}

.container {
   @extend %container;
   @extend %container_border;
}

.content {
   @extend %content;
}

.title {
   line-height: 3rem;
   text-align: center;

   span {
      color: red;
      font-size: 1rem;
   }
}
