@import "../../../styles/const.module";

.ant-pagination-item-active {
    background: $primary_2;
    border-radius: 0.5rem;
}

.ant-pagination-item-active a,
.ant-pagination-item-active:focus-visible a,
.ant-pagination-item-active:hover a {
    color: $primary_1;
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
}