/* ---------- colors ---------- */

$primary_1: rgba(255, 255, 255, 1);       //#ffffff
$primary_2: rgba(24, 144, 255, 1);        //#1890ff
$primary_3: rgba(82, 196, 26, 1);         //#52c41a
$primary_4: rgba(229, 229, 229, 1);       //#e5e5e5
$primary_5: rgba(38, 38, 38, 1);          //#262626
$primary_6: rgba(250, 250, 250, 1);

$color__1: rgba(217, 217, 217, 1);         //#d9d9d9
$color__2: rgba(232, 232, 232, 1);         //#e8e8e8
$color__3: rgba(191, 191, 191, 1);         //#bfbfbf
$color__4: rgba(245, 34, 45, 1);           //#F5222D
$color__5: rgba(13, 107, 255, 1);          //#0d6bff

$table-bg:    $primary_4;
$paper-bg:    $primary_1;
$content-bg:  $primary_6;

$paper-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.1);

//---------- old ----------
$brand_primary__1: rgba(255, 255, 255, 1); //#ffffff
$brand_primary__2: rgba(24, 144, 255, 1);  //#1890ff
$brand_primary__3: rgba(82, 196, 26, 1);   //#52c41a
$brand_primary__4: rgba(229, 229, 229, 1); //#e5e5e5
$brand_primary__5: rgba(38, 38, 38, 1);    //#262626
//---------- end old ----------

/* ---------- screen sizes ---------- */

$screen-sm: 'min-width: 576px';
$screen-md: 'min-width: 768px';
$screen-lg: 'min-width: 992px';
$screen-xl: 'min-width: 1200px';
$screen-xxl: 'min-width: 1400px';

/* ---------- layout ---------- */

//---------- old ----------
%flex_center{
  display: flex;
  align-items: center;
}

%flex_center__full {
  @extend %flex_center;
  justify-content: center;
}

%content {
  background-color: $primary_1;
}
//---------- end old ----------

%flex_vertical-center {
  display: flex;
  align-items: center;
}

%flex_full-center {
  @extend %flex_vertical-center;
  justify-content: center;
}

/* ---------- blocks ---------- */

%container {
  margin-right: auto;
  margin-left: auto;
  @media only screen and ($screen-sm) {padding: 0 1rem;}
  @media only screen and ($screen-md) {width: 750px;}
  @media only screen and ($screen-lg) {width: 940px;}
}

%container_border {
  border-radius: 0.2rem;
}
