@import "src/styles/const.module";

.content {
  @extend %content;
  display: grid;
  grid-template-rows: 10rem auto 5rem;

  @media only screen and ($screen-sm) {
    grid-template-columns: 60% 40%;
    grid-template-rows: 10rem auto;
  }
}

.article {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
  padding: 0.5rem 1rem 0;

  @media only screen and ($screen-sm) {
    padding: 0.75rem 1.5rem 0;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  max-height: 2.4rem;
  overflow: hidden;

  @media only screen and ($screen-sm) {
    justify-content: flex-start;
  }

  a {
    max-width: 85%;
  }

  h2 {
    font-size: 1.2rem;
    color: $brand_primary__2;
  }
}

.favorites {
  @extend %flex_center;
  justify-content: flex-end;

  @media only screen and ($screen-sm) {
    margin-left: 1rem;
  }
}

.favoriteButton {
  &:hover,
  &:active {
    cursor: pointer;
  }
}

.favoritesCount {
  margin-left: 0.5rem;
  color: rgba(0, 0, 0, 0.75);
}

.tags {
  @extend %flex_center;
  height: 1.5rem;
  overflow: hidden;
}

.tag {
  @extend %flex_center__full;
  height: 1.25rem;
  margin-right: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.1rem;
  padding: 0 0.25rem;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.5);
}

.description {
  height: 55%;
  overflow: hidden;
  padding: 0.25rem 1rem;

  @media only screen and ($screen-sm) {
    padding: 0.5rem 1.5rem 0.75rem;
  }

  p {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.5);
  }
}

.author {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: {
    left: 1.5rem;
    right: 1.5rem;
  }

  @media only screen and ($screen-sm) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    flex-direction: column;
    align-items: flex-end;
  }
}