@import '../../../styles/const.module';

.article {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  @media only screen and ($screen-lg) {
    height: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
    height: 4rem;

    @media only screen and ($screen-lg) {
      height: 50%;
    }
  }
}
.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.4rem;
}
.title {
  max-width: 80%;

  h3 {
    width: 100%;
    display: block;
    color: $primary_2;
    font-size: 1rem;
    line-height: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a h3:hover {
    color: $primary_3;
  }
}
.favorites {
  @extend %flex_vertical-center;
  width: auto;
  height: 1.2rem;

  @media only screen and ($screen-sm) {
    margin-left: 1rem;
  }
}
.favoritesCount {
  display: flex;
  margin-left: 0.2rem;
  height: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 0.75);
}
.tags {
  @extend %flex_vertical-center;
  gap: 0.5rem;
  height: 1.6rem;
  width: 100%;
  padding: 0.2rem 0;
  overflow: hidden;
}
.description {
  height: 3.4rem;
  padding: 0.3rem 0;

  @media only screen and ($screen-md) {
    height: 4rem;
    padding: 0.4rem 0 0;
  }

  @media only screen and ($screen-lg) {
    height: 50%;
  }

  @media only screen and ($screen-lg) {
    padding: 0.5rem 0;
  }

  p {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    line-height: 1rem;
    color: rgba(0, 0, 0, 0.5);

    @media only screen and ($screen-md) {
      line-height: 1.2rem;
    }
  }
}
