@import '../../styles/const.module';

.author {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 3rem;

  @extend %flex_vertical-center;
  justify-content: space-between;

  @media only screen and ($screen-sm) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
  }

  @media only screen and ($screen-lg) {
    height: min-content;
    align-items: center;
    justify-content: flex-end;
  }

  .details {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media screen and ($screen-sm) {
      justify-content: flex-end;
      width: 100%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media only screen and ($screen-sm) {
      align-items: flex-end;
      overflow: hidden;
    }

    @media only screen and ($screen-lg) {
      padding: 0;
    }
  }
}

.name {
  font-family: 'Inter UI', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: end;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.created {
  font-size: 0.6rem;
  line-height: 0.8rem;
  color: rgba(0, 0, 0, 0.3);
}

.image {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;

  @media only screen and ($screen-lg) {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 0.6rem;
    line-height: 0.8;
  }
}

.deleteArticleButton,
.editArticleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 1.75rem;
  border-radius: 5px;
  font-size: 0.75rem;

  &:hover,
  &:active {
    cursor: pointer;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.deleteArticleButton {
  border: 1px solid $color__4;
  color: $color__4;
}

.editArticleButton {
  border: 1px solid $brand_primary__3;
  color: $brand_primary__3;
}

.popUp {
  position: absolute;
  z-index: 1;
  width: 160px;
  top: calc(1.75rem + 5px);
  right: 0;
  margin-left: -50px;
  padding: 0.5rem;
  background-color: $brand_primary__1;
  border-radius: 4px;
  color: #000;
  font-size: 0.75rem;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));

  @media only screen and ($screen-sm) {
    width: 240px;
  }
  @media only screen and ($screen-xl) {
    top: 0;
    right: -173px;
  }
  @media only screen and ($screen-xxl) {
    padding: 12px 16px;
  }

  &::after{
    content: "";
    position: absolute;
    right: 28px;
    top: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $brand_primary__1 transparent;

    @media only screen and ($screen-xl) {
      right: 100%;
      top: calc(1.75rem/2 - 5px);
      border-color: transparent $brand_primary__1 transparent transparent;
    }
  }
}

.popUpText {
  display: flex;

  img {
    align-self: flex-start;
    width: 14px;
    margin-right: 10px;

    @media only screen and ($screen-xl) {
      margin-top: 4px;
    }
  }
}

.popUpButtons {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

%popUpButton {
  height: 16px;
  padding: 0 8px;
  border-radius: 4px;

  @media only screen and ($screen-sm) {
    height: 24px;
  }

  &:hover,
  &:active {
    cursor: pointer;
  }
}

.popUpNo {
  @extend %popUpButton;
  margin-right: 8px;
  background-color: $brand_primary__1;
  border: 1px solid $color__1;
}

.popUpYes {
  @extend %popUpButton;
  background-color: $brand_primary__2;
  color: $brand_primary__1;
}